@use postcss-short;
@use postcss-center;

.field-element {
  position: relative;
  margin-bottom: 10px;
}

.error {
  position: absolute center * * 100%;
  width: 250px;
  border-radius: 4px;
  background: #bc3647;
  font: normal 14px/20px 'Open Sans';
  color: #fff;
  text-align: center;
  margin-left: 20px;
  padding: 10px 20px;
  z-index: 1000;
}