@use postcss-short;

.link {
  display: inline-block;
  font-size: 15px/20px;
  color: #0070e0;
  letter-spacing: -0.2px;

  &:hover {
    text-decoration: underline;
  }
}

.default {
  composes: link;
}

.bordered {
  composes: link;
  padding: 6px 20px 8px;
  border-radius: 4px;
  border: solid 1px #dbdfe4;
  background-color: #ffffff;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;

  &:hover {
    text-decoration: none;
    background-color: #fcfcfc;
    border: solid 1px #0070e0;
  }
}
