@use postcss-short;
@use postcss-center;


.search {
  position: relative;
  padding: 12.5px 0;
}

.search-field {
  height: 40px;
  padding: * 40px;
}

.clear-value {
  cursor: pointer;
  top: center;
  right: 12px;
  opacity: 0.6;
  transition: opacity ease-out 0.2s;

  &:hover {
    opacity: 1;
  }
}

.search-icon {
  top: center;
  left: 11px;
}