@use postcss-short;


.social-link {
  margin-bottom: 14px;
}

.link-icon {
  display: inline-block;
  background: #f2f2f2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  vertical-align: middle;
  opacity: 0.6;
  transition: opacity ease-out 0.2s;

  &:hover {
    opacity: 1;
  }

  & img {
    width: 100%;
  }
}

.link-name {
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 36px;
  vertical-align: middle;
  margin-left: 12px;
}