@use postcss-short;
@use postcss-center;

.field-element {
  position: relative;
  margin-bottom: 10px;
}

.hint {
  position: absolute center * * 100%;
  width: 266px;
  border-radius: 4px;
  background: #66a9ec;
  font: normal 14px/20px 'Open Sans';
  color: #fff;
  text-align: left;
  margin-left: 20px;
  padding: 10px 15px;
  z-index: 1000;
}