@use postcss-short;

/**
* Render activity type
*/
.activity-list {}

.render-activity {
  position: relative
}

.activity-remove {
  position: absolute 10px -75px * *;
  font: normal 16px/22px 'Open Sans';
  color: #d0011b !important;
  letter-spacing: -0.2px;
}

.error {
  position: absolute 0px * * 100%;
  width: 210px;
  padding-left: 15px;
}

/**
* Activity types
*/
.activity-types {}

.activity-node {}

.children{
  & .activity-leaf {
    padding-left: 60px;
  }

  & .children {
    & .activity-leaf {
      padding-left: 90px;
    }
  }
}

.activity-leaf {
  padding: 0 30px;
  cursor: pointer;

  &:hover {
    background-color: #fbfbfb;
  }
}

.activity-name {
  font-size: 16px;
  color: #222222;
  padding: 13px 0;
  border-bottom: 1px solid #f3f5f8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected {
  composes: activity-leaf;
}

.icon {
  vertical-align: middle;
  margin-left: 5px;
}

.caret {
  vertical-align: middle;
  margin-left: 5px;
}

.activity-select {}

.activity-popup {
  padding-top: 30px;
}

.activity-title {
  font-size: 24px/33px;
  font-weight: normal;
  letter-spacing: -0.2px;
  color: #000000;
  margin: 0 0 24px;
  padding: 0px 30px;
}

/*Add link*/
.add-input {
  display: inline-block;
  font-size: 16px/26px;
  letter-spacing: -0.2px;
  color: #0070e0;
  cursor: pointer;

  &:hover .link {
    text-decoration: underline;
  }
}

.add-icon {
  margin-right: 6px;
  vertical-align: middle;
}

.add-link {
  vertical-align: middle;
}