@use postcss-short;

/* Option */
.option {
  font: normal 16px/22px 'Open Sans';
  color: #222222;
  letter-spacing: -0.2px;
  padding: 0 30px;
  background: #fff;
  cursor: pointer;

  &:hover {
    background: #fbfbfb;
  }
}

.option-value {
  padding: 13px 0;
  border-bottom: 1px solid #f3f5f8;
}


/*Select */
.select {
  text-align: left;
}

.select-popup {
  padding-top: 30px;
  padding-bottom: 5px;
}

.popup-title {
  font: normal 24px/33px 'Open Sans';
  letter-spacing: -0.2px;
  color: #000;
  margin: 0 0 24px;
  padding: 0 30px;
}

.select-options {}

/* Filter options*/
.filter {
  padding: 0 30px;
}

.filter-input {
  margin-bottom: 12px;
}