@use postcss-short;

.link-inputs {
  display: block;
}

/*Add link*/
.add-input {
  display: inline-block;
  font-size: 16px/26px;
  letter-spacing: -0.2px;
  color: #0070e0;
  cursor: pointer;

  &:hover .link {
    text-decoration: underline;
  }
}

.add-icon {
  margin-right: 6px;
  vertical-align: middle;
}

.add-link {
  vertical-align: middle;
}