@use postcss-short;

.employee-card {
  composes: popup from '../../common/Popup/styles.css';
  size: 325px;
  position: relative;
  background-color: transparent;
  border-radius: 4px;
  overflow: hidden;

  &:before,
  &:after {
    content: '';
    z-index: -1;
    position: absolute 0 * * 0;
    size: 100%;
    transition: .2s linear opacity;
  }

  &:before {
    background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.15) 32%,
    rgba(0, 0, 0, 0.15) 66%,
    rgba(0, 0, 0, 0.4));
  }

  &:after {
    opacity: 0;
    background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5));
    border-radius: 4px;
  }

  &:hover {
    &:after {
      opacity: 1;
    }

    & .info {
      opacity: 0;
    }

    & .buttons {
      opacity: 1;
    }
  }
}

.employee-card-empty-avatar {
  composes: employee-card;

  &:before {
    background-image: none;
    background-color: rgba(0, 0, 0, .2);
  }

  &:after {
    background-image: none;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 4px;
  }
}

.avatar {
  background-color: #fff;
  position: absolute;
  z-index: -2;
  border-radius: 4px;
}

.avatar-empty {
  position: absolute 0 * * 0;
  size: 100%;
  z-index: -2;
  font: bold 150px/325px 'Open Sans';
  text-align: center;
  color: rgba(255, 255, 255, .25);
}

.company {
  height: 48px;
  text-align: right;
}

.company-name {
  display: inline-block;
  vertical-align: top;
  font-size: 18px/48px;
  margin-right: 15px;
  color: #fff;
  letter-spacing: -.3px;
}

.company-logo {
  display: inline-block;
  margin-left: -5px;

  & img {
    size: 48px;
    display: block;
    border-radius: 0 4px 0 0;
  }
}

.company-logo-empty {
  composes: company-logo;
  display: none;
}

.info {
  padding: 15px;
  position: absolute * * 0;
  opacity: 1;
  z-index: 1;
  cursor: default;
  user-select: none;
  transition: .2s linear all;
}

.full-name {
  font: bold 30px/1.17 'Open Sans';
  color: #fff;
  letter-spacing: -.2px;
  word-spacing: 325px;
  margin: 0 0 5px;
}

.position {
  font: normal 18px 'Open Sans';
  color: #fff;
  letter-spacing: -.5px;
}

.buttons {
  width: 245px;
  position: absolute * 0 121px *;
  text-align: right;
  padding: 0 10px;
  z-index: 1;
  opacity: 0;
  transition: .2s linear all;

  & button {
    width: 100%;
    display: block;
    float: right;
    border-radius: 4px;
    padding: 2px 10px 3px;
    margin: 2px 0 1px;
    text-align: right;
    background-color: transparent;
    font: normal 18px/28px 'Open Sans';
    color: #fff;
    letter-spacing: -.1px;
    cursor: pointer;
    transition: .1s linear background-color;

    &:hover {
      background-color: rgba(255, 255, 255, .1)
    }
  }
}
