@use postcss-short;

.avatar {}

.empty {
  size: 60px;
  border-radius: 4px;
  font: 600 20px/27px 'Open Sans';
  letter-spacing: -0.3px;
  padding: 16px *;
  text-align: center;
  color: #ffffff;
  cursor: default;
}