@use postcss-center;
@use postcss-short;

.input {
  position: relative;
  font-size: 16px/22px;
  text-align: left;
  background: #ffffff;
  size: 100% 45px;
  border-radius: 4px;
  padding: 10px 40px 12px 12px;
  cursor: pointer;
  transition: border-color linear 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-default {
  composes: input;
  border: solid 1px #dbdfe4;
}

.input-invalid {
  composes: input;
  border: solid 1px #D0011B;
}

.placeholder-invalid {
  color: #D0011B;
}

.placeholder-default {
  color: #9da0a4;
  top: center;
}

.icon {
  top: center;
  right: 5px;
}