@use postcss-short;
@use postcss-clearfix;
@use postcss-inline-svg;

.company-card {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 75px 0 0 0;
}

.top {
  width: 600px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  size: 175px;
  margin-right: 30px;
}

.title {
  display: inline-block;
  position: relative;
  size: 395px 175px;
  vertical-align: top;

  & > .inner {
    position: absolute;
    top: 48%;
    transform: translateY(-50.3%);
  }
}

.name {
  font: bold 36px/40px 'Open Sans';
  letter-spacing: -.5px;
  color: #222;
  overflow: hidden;
}

.address {
  font: normal 20px 'Open Sans';
  letter-spacing: -.6px;
  color: #222;
  opacity: .75;
  margin-top: 3px;
}

.buttons {
  margin-top: 7px;
}

.transparent-button {
  background-color: transparent;
  border: 1px solid #dbdfe4;
  color: #0070e0;
  font: normal 20px 'Open Sans';
  size: 200px 48px;
  padding: 1px 0 5px;

  &:hover {
    background-color: transparent;
    color: #0070e0;
    border: 1px solid #0070e0;
  }
}

.bookmark {
  display: none;
  background-color: transparent;
  height: 48px;
  vertical-align: top;
  cursor: pointer;
  position: relative 3px * * 3px;

  & > .bookmark-icon:hover {
    fill: #0070e0
  }
}


.bottom {
  width: 850px;
  margin: 26px auto 0;
  clear: fix;
}

.bottom-small {
  composes: bottom;
  width: 618px;
}

.about {
  width: 500px;
  margin-right: 47px;
  float: left;

  & > p {
    font: normal 15px/20px 'Open Sans';
    margin: 0 0 .5em 0;
  }
}

.info {
  width: 300px;
  float: left;
}

.activities {
  margin: -10px 0;
}

.item {
  font: normal 15px/20px 'Open Sans';
  letter-spacing: -.2px;
  color: #222;
  position: relative;
  padding-left: 30px;
  margin: 10px 0;
}

.item-empty {
  composes: item;
  color: #c2c8d0;
}

.icon {
  size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 9px;
  position: absolute -4px * * -5px;
}

.company-icon {
  composes: icon;
  background-image: svg-load('./svg/company.svg');
}

.activity-icon {
  composes: icon;
  background-image: svg-load('./svg/activity.svg');
}

.phone-icon {
  composes: icon;
  background-image: svg-load('./svg/phone.svg');
}

.email-icon {
  composes: icon;
  background-image: svg-load('./svg/email.svg');
}

.socials {
  margin: 34px -11px 0;
}

.social {
  display: inline-block;
  margin: 0 12px;
}

.empty-value {
  font-size: 15px;
  color: #9da0a4;
}
