@use postcss-short;
@use postcss-center;

.activity-list {}

.group {
  position: relative;
}

.activity-field {
  height: 40px;
}

.activity-remove {
  position: absolute * -75px * *;
  top: center;
  font: normal 16px/22px 'Open Sans';
  color: #d0011b !important;
  letter-spacing: -0.2px;
}
